logs/
log
graph/
test/
train/
dot_data
.ipynb_checkpoints/
.DS_Store
*.csv
data/
*.pkl
*.py
__pycache__/
*.eps
*.dot
*.png
*.svg
*.ai
log/
log/samples/20180801_054419/events.out.tfevents.1533102259.mini.local
Untitled.ipynb